* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    padding: 37px;
    height: 135px;
    background: linear-gradient(0deg, rgba(0,10,35,0) 0%, rgba(0,10,35,0) 40%, rgba(21,63,89,0.8) 100%);
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    height: 44px;
    line-height: 2;
    transition: color 0.2s;
    
    &.active {
        color: #00FFA6;
    }
    
    &:hover {
        color: #00FFA6;
    }
}

nav a.right-border {
    border-right: solid 1px #FFFFFF;
    padding-right: 2rem;
}

main.container {

}

section {
    height: 100vh;
    scroll-snap-align: center;
}

section.home {
    background-color: #000A23;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .presentation {
        width: 38.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    h2 {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 54px;
        
        span.my-name {
            color: #00FFA6;
        }
    }
    
    h3.role {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-style: italic;
        color: #B7FFE6;
        font-size: 30px;
        align-self: flex-end;
        margin-top: -6px;
        margin-bottom: 2.8rem;
    }
    
    p {
        font-family: "Quicksand", sans-serif;
        font-size: 20px;
        width: 55%;
        text-align: center;
        margin-bottom: 2.8rem;
    }
    
    a.btn-primary {
        text-decoration: none;
        font-family: "Quicksand", sans-serif;
        color: #000A23;
        background-color: #00FFA6;
        padding: 10px 20px;
        border-radius: 30px;
        font-weight: 700;
        font-size: 25px;
        transition: background-color 0.2s;
        
        &:hover {
            background-color: #0CD88A;
        }
    }
}

section.about {
    background-color: #02152B;
}

section.skills {
    background-color: #021D34;
}

section.projects {
    background-color: #02253D;
}

section.contact {
    background-color: #012E46   ;
}

img.ld-logo, .ld-logo {
    border-radius: 50%;
    width: 54px;
    height: 54px;
}

img.ld-logo {
    /*filter: drop-shadow(0px 0px 20px #FFFFFF);*/
}